doctype
html(lang="en")
  head

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    title=title
    meta(name="description" content="#{ description }")
    meta(name="keywords" content="#{ keywords }")
    
    meta(name="author" content="Marek Dlugos")
    meta(name="copyright" content="© 2020, Marek Dlugos. All rights reserved.")
    meta(name="robots" content="index, follow, noodp")
    
    meta(name="googlebot" content="index,follow")
    meta(name="theme-color" content="#111517")
    meta(name="subject" content="Marek Dlugos")
    meta(name="abstract" content="Marek Dlugos Personal Website")
    meta(name="rating" content="General")
    
    link(rel="me" href="https://www.facebook.com/marek.dlugos" type="text/html")
    link(href="/images/favicon.png" rel="icon" type="image/png")
    link(rel="stylesheet" href="css/main.css")
    
    script(src="js/main.js")
    script(src="js/analytics.js")

    meta(property="og:type" content="website")
    meta(property="og:url" content="http://www.marekdlugos.com/")
    meta(property="og:title" content="Marek Dlugos — Personal Website")
    meta(property="og:image" content="http://www.marekdlugos.com/images/og-image.jpg")
    meta(property="og:description" content="Personal website of Marek Dlugos — Helping companies to succeed. Background in revenue growth, product, design, and software engineering.")
    meta(property="og:site_name" content="Marek Dlugos — Personal website")
    meta(property="og:locale" content="en_US")
    
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@marekdlugos")
    meta(name="twitter:creator" content="@marekdlugos")
    meta(name="twitter:url" content="http://www.marekdlugos.com/")
    meta(name="twitter:title" content="Marek Dlugos — An Entrepreneurial Mind")
    meta(name="twitter:description" content="Personal website of Marek Dlugos — Helping companies to succeed. Background in revenue growth, product, design, and software engineering.")
    meta(name="twitter:image" content="http://www.marekdlugos.com/images/og-image.jpg")
    
  body()
    header
      .container
        != partial("_shared/nav")
    main
      .container
        != yield
    footer
      .container
        != partial("_shared/footer")
