section.row
  .col-md-9.col-md-offset-3
    h3 — Things that I love and am getting paid for

section.row
  .col-md-3
    h2 Skills
  .col-md-9
    .row
      .col-md-4
        h4 Design
        ul.big
          li Web Design
          li Mobile App Design
          li User Interface Design
          li User Experience Design
        p #[a(href="https://dribbble.com/MarekDlugos" class="text") Design portfolio]
      .col-md-4
        h4 Code
        dl 
          dt HTML, CSS, JavaScript
          dd abillity to make my designs alive
          dt C++, Java, PHP, Python
          dd ability to write simple apps
          dt MySQL, NoSQL
          dd experience with design
        p #[a(href="https://github.com/marekdlugos" class="text") Code portfolio]
      .col-md-4
        h4 Product
        ul.big
          li Writing PRDs
          li Agile / SCRUM development 
          li Monitoring KPIs
      
section.row
  .col-md-3
    h2 Work Experience
  .col-md-9
    h3 Product Design
    .row
      .col-md-6
        h4 Design intern at #[a(href="https://www.shopify.com/") Shopify, Inc.]
        small Summer 2016 — Ottawa, Canada
        p Helped to build the future of e-commerce for #[strong over 300,000 merchants].
      .col-md-6
        h4 Product designer at #[a(href="https://www.icewarp.com/") IceWarp, Inc.]
        small Year 2016 — Prague, Czech Republic
        p Designing UI and taking care of UX for product having more than #[strong 50 million end-users].
    
    h3 Code
    .row
      .col-md-6
        h4 Front-end Dev at #[a(href="https://www.abaffydesign.com/") AbaffyDesign]
        small Year 2013 — Bratislava, Slovakia
        p Wrote code for popular news portals in Slovakia with #[strong half of million daily visits].
      .col-md-6
        h4 Front-end Dev at #[a(href="https://fleetlog.com.au/") Fleetlog, Pty Ltd]
        small Year 2014 — Sydney, Australia (remote)
        p Designed and coded whole interface for GPS car tracking startup.
    
    h3 Entrepreneurship
    .row
      .col-md-6
        h4 Co-Founder of #[a(href="http://www.estavebnydennik.sk/") eStavebnyDennik]
        small Year 2013 — Bratislava, Slovakia
        p Co-founded online streamlined booking system. Designed the whole interface and advised in technical questions. A year after, I sold my equity in the company.
      .col-md-6
        h4 Co-Founder of Kiddish
        small Summer 2015 — Los Angeles / Hawaii
        p While working with the founder of #[strong Creative Market] in Hawaii, we came up with an idea of reselling curated products to parents. Due to new, stronger competitor, we unfortunately had to stop.
    //.row
    //  .col-md-6
    //    h4 Freelancer
    //    small From 2008 — Present
    //    p Till today done 100+ projects for clients all around the world.

section.row
  .col-md-3.medium-margin 
    h2 I can help you with
  .col-md-9.medium-margin
    .row
      .col-md-4
        h4 Design-wise
        ul.text-list
          li Sketching wireframes for a new project.
          li Designing new websites or eye-catching landing pages.
          li Creating a user interface for new apps.
          li Designing trendy print visuals.
          li Cooking up visuals for new mobile apps.
          li Designing pixel-perfect Keynote presentations.
          li All with focus on User Experience.
      .col-md-4
        h4 Code-wise
        ul.text-list
          li Coding interactive prototypes.
          li Slicing prepared design into nice and responsive HTML & CSS code.
          li Adding interactivity to sites and apps using JavaScript.
          li Preparing frontend for mobile apps using Ionic.
          li Writing simple apps using PHP, Python, Java, C or C++.
          li Creating database architecture for apps.
      .col-md-4
        h4 Product-wise
        ul.text-list
          li Providing perfect connection between designers, coders &amp; business.
          li Writing product/project briefs.
          li Doing User Experience research.
          li Using data-driven decidions.
          li Managing backlog.
          li Keeping transparency in what is going on.
          li Being an extended hand for CEO.
