section.row
  .col-md-3
    h2 Education
  .col-md-9
    .row
      .col-md-6.justify
        p High quality technical education abroad has been my aim for a long time, which is why I left my home country after graduation, according to rankings, at #[strong best tech high school] in Slovakia.
        p Followed by application for the Ivy League universities. #[strong University of Cambridge], according to rankings 4th best university in the world, invited me for interviews where I exceeded their expectations in Computer Science but didn't persuaded them with my math skills.
      .col-md-6.justify
        p I get the offer from #[strong University College London], according to rankings 7th best university in the world, invited me for competitive Information Management for Business programme. I always believed in importance of intersection between humanities and computing as a science what led me to gaining deeper software understanding as an undergraduate. 
        p Continuing with studying business would allow me to contribute to a better world in the future, either as an developer, IT manager, or an entrepreneur.
    ul.blocks
      li
        .row
          .col-md-2
            time 2015-2018
          .col-md-10
            h4 Software Engineering
            h5 Czech Technical University, Czech Republic
            small Ranked as #1 tech university in Czech Republic
            h6 Courses
            .row
              .col-md-6
                ul.small-text
                  li Project Management
                  li Business Analytics
                  li Information Management
                  li Information Systems
              .col-md-6
                ul.small-text
                  li Algorithms
                  li Web applications
                  li Database systems
                  li Programming in JAVA
      li
        .row
          .col-md-2
            time 2016-2017
          .col-md-10
            h4 Software Engineering
            h5 Sungkyunkwan University, South Korea
            small Ranked as #3 best university in South Korea
            h6 Courses
            .row
              .col-md-6
                ul.small-text
                  li Contemporary Entrepreneurship
                  li Enterprise architectures
                  li Computer Networks
              .col-md-6
                ul.small-text
                  li Principles and Practice in Data Mining
                  li Data Structure and Algorithms
                  li Programming in C/C++
      li
        .row
          .col-md-2
            time 2011-2015
          .col-md-10
            h4 Information & Network Technologies
            h5 High School of Electrical Engineering, Slovakia
            small Ranked as #1 high school in Slovakia
            h6 Courses
            .row
              .col-md-6
                ul.small-text
                  li Server Technologies
                  li Sofware Applications
                  li Operating Systems (Win & Linux)
                  li Hardware Architecture
              .col-md-6
                ul.small-text
                  li Network Technologies (Cisco CCNA)
                  li Programming in C and Java
                  li Database Applications
                  li Electronics
          
section.row
  .col-md-3
    h2 Awards
  .col-md-9
    ul.text-list
      li 2016 — 2x 1st at AWS Amazon Hackathon
      li 2014 — 1st at JuniorInternet (Mobile App category)
      li 2014 — Special price at JuniorInternet
      li 2013 — Intel Excellence in Computer Science
      li 2013 — 2nd at ZENIT (Design & Programming web sites)
      li 2013 — Special price at JuniorInternet
      li 2011 — 1st at JuniorInternet (Design category)
    p JuniorInternet and ZENIT are two nationwide competitions in designing and programming web sites.
