section.row
  .col-md-3
    h2 Failures
  .col-md-9
    p This is a curated list of events that happened in my life and I consider them as a failures. Today's trend is speaking only about how life is wonderful and everything goes how we want. Well, it is not always like we want and I want to be able to take a look back one day and be grateful for of those events because they will give me a perfect sense somewhere in the future.
    p Actually, I tried really hard, but it is almost impossible to come up with all of the things (even more with some super small). Believe or not, there were way more of them that you can find here.
    h3 21yo
    ul.text-list
      li Got rejected by Palantir &amp; Facebook after final round of interviews. Don't even speak about other 50 companies where I have sent my Resume. (Fun Fact: I got the interviews from Google for Software Engineering but not for Design. Even though Design is definitely my bigger strenght.)
    h3 20yo
    ul.text-list
      li Failed to launch the startup I was working on.
      li Failed Linear Algebra &amp; Discrete Mathematics classes.
    h3 19yo
    ul.text-list
      li Got rejected from Cambridge University after attending the interviews.
    h3 16yo
    ul.text-list
      li My web site and whole project of getting to the US high school has failed.  
      li Wasn't bold enough and missed a chance to speak at TEDx Conference.
    h3 15yo
    ul.text-list
      li Failed to persuade my parents that High School in bigger city or other country would help me progress faster.
      
