section.row
  .col-md-3
    h2 Photos
  .col-md-9
    .row
      .col-md-6
        h4 Wunder Kids Pictures
        p I was wondering how to present my photography for a long time until I came up with an idea to put together really young &amp; talented photographers together and founded this label where you can buy our prints and make walls of your home more beautiful.
        //- p #[a(href="#" class="text") Buy your print] &middot; #[a(href="#" class="text") Instagram Profile] &middot; #[a(href="#" class="text") Facebook Page]
      .col-md-6
        h4 Hair Tie Story
        p I kissed a girl and after that I had to leave her for 4 months. She gave me her hair tie and I captured spectacular moments with that hair tie on my wrist during my journey around the world until I came back to her. Story hit front page of Imgur with #[strong over 170k views].
        p #[a(href="http://imgur.com/gallery/zxqLz" class="text") Read on Imgur] &middot; #[a(href="https://medium.com/@MarekDlugos/never-take-anything-for-granted-2f114e1281f5" class="text") Read on Medium]

section.row
  .col-md-3
    h2 Videos
  .col-md-9
    .row
      .col-md-6
        h4
          a(href="https://youtu.be/ApSOemHdUcU?list=PLfAn5S6hUak9NqYmSIPIhspARcNvrllpq") Questions w/ Shopify Interns
        p I’ve filmed 5 episodes of interviews with Shopify Interns during summer 2016 ranging from designers to software engineers so everyone can find themselves in their stories, get inspired and motivated and apply for an internship in some cool companies such as Shopify!
        ul.small-text
          li #[a(href="https://youtu.be/ApSOemHdUcU") EP. 1 - Vivienne - Design Intern]
          li #[a(href="https://youtu.be/tbfsCwQQBIE") EP. 2 - Nathaniel - Software Engineering Intern]
          li #[a(href="https://youtu.be/ZDi0jkqHgqI") EP. 3 - Nicole - Theme Support Intern]
          li #[a(href="https://youtu.be/KcCt44-Ax_4") EP. 4 - Kevin - Software Engineering Intern]
          li EP. 5 - Brittany & Sebastian - Design Interns
      .col-md-6
        h4
          a(href="https://www.youtube.com/watch?v=Fr4GdW3evy0") Ice Bucket Challenge
        p In the time when the Ice Bucket Challenge was popular I got inspired by a man offering the water to random people in some poor country. I wanted to see how people will react in my country.
        p #[a(href="https://www.youtube.com/watch?v=Fr4GdW3evy0" class="text") Watch it here]
    .row.medium-margin
      .col-md-6
        h4 Other small video projects/edits
        ul.small-text
          li #[a(href="https://youtu.be/9xpW3o-wOec") TRIX - Believe in your dreams (Music Video)]
          li #[a(href="https://www.youtube.com/watch?v=prjoFkr5Tvg") Somewhere in Hawaii (4k timelapses)]
          li #[a(href="https://www.facebook.com/marek.dlugos/videos/10206831593208874/") Flying drone in Gatineau Park]
          li #[a(href="https://www.youtube.com/watch?v=UAp72aqL8iY") 7,686 Miles from Slovakia to Hawaii (TEASER)]
          li #[a(href="https://www.youtube.com/watch?v=cQsaCXJeoDY") Host me in California (TEASER)]
        h5 While working for companies
        ul.small-text
          li #[a(href="https://www.youtube.com/watch?v=SRFHdmK91R8") Shopify HQ new floors opening]
          li #[a(href="https://www.youtube.com/watch?v=K6STl2Os7B4") Year 2015 at IceWarp in numbers]
          li #[a(href="https://www.youtube.com/watch?v=M4Gp0BvOQlI") New Prague HQ of IceWarp]
          li #[a(href="https://www.youtube.com/watch?v=ATF8v_X_OVM") Online editing documents - BETA feature]
          li #[a(href="https://www.youtube.com/watch?v=gSHddDS_7os") IceWarp 11.4 Features Overview]
      .col-md-6
        h4
          a(href="https://www.youtube.com/watch?v=LiEUaspXfTU") SPSE High School Documentary
        p High school of Electrical Engineering is considered as a best high school in Slovakia for many years. As a CEO of students&apos; company at time of my studies at this high school I was in charge to create video showing all aspects of studying there.
        p #[a(href="https://www.youtube.com/watch?v=LiEUaspXfTU" class="text") Watch it here]

section.row
  .col-md-3
    h2 Traveling
  .col-md-9
    p At the age of 20 I had an opportunity to go for a #[strong journey around the world]. My parents led me to traveling since I was a child but I don't remember a lot from that time. Now I am glad that I can afford to travel spending only my own money.
    
    h5 Visited countries
    p 
      | Austria, 
      | Bahamas,
      | Bulgaria,
      |  #[a(href="https://www.facebook.com/marek.dlugos/media_set?set=a.10206656804879275.1073741834.1247629440") Canada (3 months)], 
      | Croatia, 
      | Czech Republic (2 years), 
      |  #[a(href="https://www.facebook.com/marek.dlugos/media_set?set=a.10200263114841020.1073741826.1247629440") France], 
      | Germany, 
      | Hungary, 
      | Ireland, 
      | Italy, 
      | Malaysia,
      | Netherlands, 
      | Philippines,
      | Poland, 
      | Portugal, 
      | Singapore,
      | Slovakia (18 years), 
      | Slovenia, 
      |  #[a(href="https://www.facebook.com/marek.dlugos/media_set?set=a.10207358014889087.1073741835.1247629440") South Korea] (4 months), 
      | Taiwan,
      | United Kingdom, 
      | USA (#[a(href="https://www.facebook.com/marek.dlugos/media_set?set=a.10204591521808489.1073741831.1247629440") California], Florida, #[a(href="https://www.facebook.com/marek.dlugos/media_set?set=a.10204643863076988.1073741832.1247629440") Hawaii - 3 months], NY).
    h5 Next on the radar
    p 
      | Cambodia,
      | Laos,
      | Thailand,
      | Vietnam.
      
section.row
  .col-md-3
    h2 Fashion
  .col-md-9
    .row
      .col-md-6
        h4
          a(href="https://www.facebook.com/wirebrand") Wire Clothing
        small Founder / Advisor
        p During my studies I founded merchandise for my former high school. School liked my design so much that they made clothes for every student &amp; teacher at school. Now, I asked younger peers to take care of it and proceeded to role of an advisor.
        p #[a(href="https://www.facebook.com/wirebrand" class="text") Facebook Page]
      .col-md-6
        h4 Ombre Clothing
        small Former model
        p Ombre clothing asked to me shoot a new lookbook for their newest collection in an exchange for all their products. Interesting story behind is that I have designed my friend&apos;s photography portfolio for free and the he paid me off by shooting that lookbook with me.
        p Some of the photos on #[a(href="http://instagr.am/marekdlugos" class="text") my Instagram].

section.row
  .col-md-3
    h2 Sports
  .col-md-9
    .row
      .col-md-6
        h4 Ballroom dancing
        p I was really fortunate when the instructor from social dance classes came to me during the break and asked me if I want to level it up. Saying yes to a lot of opportunities I started to dance with my wonderful dance partner Karolina who alrady had had 10 year of experience. We were crushing competitions together for a year and half and I fell in love with this sport!
        p #[a(href="http://ksis.szts.sk/ksis/par.php?id=9117" class="text") List of attended competitions]
      .col-md-6
        h4 Basketball (tournament)
        p This sport was in my heart for really long time. Everyday on the court outside and inside playing for my school team. Best memories, best friends, best moments. Can not forget. I have decided to give something back to my community and organized Christmas Basketball Tournament.
        p #[a(href="https://www.facebook.com/pg/Viano%C4%8Dn%C3%BD-streetball-Star%C3%A1-%C4%BDubov%C5%88a-129773007083153/photos/?tab=album&album_id=623940997666349" class="text") Photos from tournament]
