section.row
  .col-md-3
    h2 Photos
  .col-md-6
    .row
      .project
        h4 Wunder Kids Pictures
        p I was wondering how to present my photography for a long time until I came up with an idea to put together really young &amp; talented photographers together and founded this label where you can buy our prints and make walls of your home more beautiful.
      .project
        h4 Hair Tie Story
        p I kissed a girl and after that, I had to leave her for 4 months. She gave me her hair tie and I captured spectacular moments with that hair tie on my wrist during my journey around the world until I came back to her. The story hit the front page of Imgur with #[strong over 170k views].
        p #[a(href="http://imgur.com/gallery/zxqLz" class="text") Read on Imgur] &middot; #[a(href="https://medium.com/@MarekDlugos/never-take-anything-for-granted-2f114e1281f5" class="text") Read on Medium]

section.row
  .col-md-3
    h2 Videos
  .col-md-6
    .row
      .project
        h4
          a(href="http://www.marekdlugos.com/podcast/") Marek Dlugos Podcast
        p I was fortunate to meet a lot of very interesting people and now I am happy to bring 5 interviews with some of them! I guess I might be able to say it is quality content, unfortunately, it is only available in the Slovak language.
        ul.small-text
          li #[a(href="https://soundcloud.com/websupport_sk/adam-sabla-rozhovor?in=websupport_sk/sets/rozhovory-marek-dlugos-a-jeho-hostia-kiska-ftacnik-zikes-sabla-duris") EP. 1 - What is behind the scenes of the success of any project? (with Adam Sabla) ]
          li #[a(href="https://soundcloud.com/websupport_sk/o-machine-learningu-s-janom?in=websupport_sk/sets/rozhovory-marek-dlugos-a-jeho-hostia-kiska-ftacnik-zikes-sabla-duris") EP. 2 - What are we able to do with machine learning? (with Jan Zikes)]
          li #[a(href="https://soundcloud.com/websupport_sk/o-venture-capitale-s-andrejom?in=websupport_sk/sets/rozhovory-marek-dlugos-a-jeho-hostia-kiska-ftacnik-zikes-sabla-duris") EP. 3 - Where did he get 71M and into what does he invest it? (with Andrej Kiska)]
          li #[a(href="https://soundcloud.com/websupport_sk/o-predaji-s-matejom-ft-nikom?in=websupport_sk/sets/rozhovory-marek-dlugos-a-jeho-hostia-kiska-ftacnik-zikes-sabla-duris") EP. 4 - How to perfectly pitch yourself or your company. (with Matej Ftacnik)]
          li #[a(href="https://soundcloud.com/websupport_sk/o-startupoch-s-ma-om-uri-om?in=websupport_sk/sets/rozhovory-marek-dlugos-a-jeho-hostia-kiska-ftacnik-zikes-sabla-duris") EP. 5 - How to do marketing so your product goes global? (with Mato Duris)]
      .project
        h4
          a(href="https://www.youtube.com/playlist?list=PLfAn5S6hUak_H134_C8py9Cd5L275z-or") Traveling South East Asia
        p Since I was always into the video after I finished my semester abroad in South Korea, I have decided to travel and film everything I experience. It was kinda my experiment whether or not I would like to do vlogging on regular basis. I ended up uploading 19 videos on YouTube from my travels through Taiwan, Philippines, Singapore, and Malaysia.
        p #[a(href="https://www.youtube.com/playlist?list=PLfAn5S6hUak_H134_C8py9Cd5L275z-or" class="text") Watch it on YouTube]
      .project
        h4
          a(href="https://youtu.be/ApSOemHdUcU?list=PLfAn5S6hUak9NqYmSIPIhspARcNvrllpq") Questions w/ Shopify Interns
        p I’ve filmed 5 episodes of interviews with Shopify Interns during summer 2016 ranging from designers to software engineers so everyone can find themselves in their stories, get inspired and motivated and apply for an internship in some cool companies such as Shopify!
        ul.small-text
          li #[a(href="https://youtu.be/ApSOemHdUcU") EP. 1 - Vivienne - Design Intern]
          li #[a(href="https://youtu.be/tbfsCwQQBIE") EP. 2 - Nathaniel - Software Engineering Intern]
          li #[a(href="https://youtu.be/ZDi0jkqHgqI") EP. 3 - Nicole - Theme Support Intern]
          li #[a(href="https://youtu.be/KcCt44-Ax_4") EP. 4 - Kevin - Software Engineering Intern]
          li #[a(href="https://www.youtube.com/watch?v=GO8uHKZd_1Q") EP. 5 - Brittany & Sebastian - Design Interns]
      .project
        h4
          a(href="https://www.youtube.com/watch?v=Fr4GdW3evy0") Ice Bucket Challenge
        p In the time when the Ice Bucket Challenge was popular I got inspired by a man offering the water to random people in some poor country. I wanted to see how people will react in my country.
        p #[a(href="https://www.youtube.com/watch?v=Fr4GdW3evy0" class="text") Watch it here]
      .project
        h4 Other small video projects/edits
        ul.small-text
          li #[a(href="https://youtu.be/9xpW3o-wOec") TRIX - Believe in your dreams (Music Video)]
          li #[a(href="https://www.youtube.com/watch?v=prjoFkr5Tvg") Somewhere in Hawaii (4k timelapses)]
          li #[a(href="https://www.facebook.com/marek.dlugos/videos/10206831593208874/") Flying drone in Gatineau Park]
          li #[a(href="https://www.youtube.com/watch?v=UAp72aqL8iY") 7,686 Miles from Slovakia to Hawaii (TEASER)]
          li #[a(href="https://www.youtube.com/watch?v=cQsaCXJeoDY") Host me in California (TEASER)]
        h5 While working for companies
        ul.small-text
          li #[a(href="https://www.youtube.com/watch?v=SRFHdmK91R8") Shopify HQ new floors opening]
          li #[a(href="https://www.youtube.com/watch?v=K6STl2Os7B4") Year 2015 at IceWarp in numbers]
          li #[a(href="https://www.youtube.com/watch?v=M4Gp0BvOQlI") New Prague HQ of IceWarp]
          li #[a(href="https://www.youtube.com/watch?v=ATF8v_X_OVM") Online editing documents - BETA feature]
          li #[a(href="https://www.youtube.com/watch?v=gSHddDS_7os") IceWarp 11.4 Features Overview]
      .project
        h4
          a(href="https://www.youtube.com/watch?v=LiEUaspXfTU") SPSE High School Promotional Film
        p High school of Electrical Engineering is considered as a best high school in Slovakia for many years. As a CEO of students&apos; company at time of my studies at this high school I was in charge to create video showing all aspects of studying there.
        p #[a(href="https://www.youtube.com/watch?v=LiEUaspXfTU" class="text") Watch it here]

section.row
  .col-md-3
    h2 Traveling
  .col-md-6
    .row
      p At the age of 20 I had an opportunity to go for a #[strong journey around the world]. My parents led me to traveling since I was a child but I don't remember a lot from that time. Now I am glad that I can afford to travel spending only my own money.
      
      h5 Visited countries: 41
      p #[strong Journey around the world #1:] Czech Republic -> Canada -> USA -> Bahamas -> USA -> Canada -> USA -> South Korea -> Taiwan -> Philippines -> Singapore -> Malaysia -> Hungary -> Czech Republic
      p #[strong Journey around the world #2:] Slovakia -> Poland -> United Arab Emirates (Dubai) -> China (Hong Kong) -> Vietnam -> Cambodia -> China (Hong Kong) -> Philippines -> China (Hong Kong) -> Thailand -> Laos -> Thailand -> Indonesia -> China (Hong Kong) -> Argentina -> Uruguay -> Argentina -> Czech Republic -> Slovakia
      
      p #[a(href="https://my.flightradar24.com/marekdlugos" class="text") My Flight Radar Profile].

      h5 Asia
      p
        | Cambodia,
        | China (Hong Kong, Macau),
        | Indonesia (Bali, Nusa Penida, Gili T),
        | Israel,
        | Jordan,
        | Laos,
        | Malaysia,
        | Palestine,
        | Philippines,
        | Qatar (Doha),
        | Singapore,
        | South Korea,
        | Taiwan,
        | Thailand,
        | UAE (Dubai),
        | Vietnam.

      h5 Europe
      p
        | Austria,
        | Belgium,
        | Bulgaria,
        | Croatia,
        | Cyprus,
        | Czech Republic,
        | France (Paris),
        | Germany,
        | Greece,
        | Hungary,
        | Ireland,
        | Italy,
        | Liechtenstein,
        | Luxembourg,
        | Netherlands,
        | Poland,
        | Portugal,
        | Slovenia,
        | Spain,
        | Switzerland,
        | United Kingdom,

      h5 North America
      p
        | Bahamas,
        | Canada (Ottawa, Toronto, Montreal),
        | USA (Florida, Hawaii, NYC, SF).
        
      h5 South America
      p
        | Argentina.
      
section.row
  .col-md-3
    h2 Fashion
  .col-md-6
    .row
      .project
        h4
          a(href="https://www.facebook.com/wirebrand") Wire Clothing
        small Founder / Advisor
        p During my studies I founded merchandise for my former high school. School liked my design so much that they made clothes for every student &amp; teacher at school. Now, I asked younger peers to take care of it and proceeded to role of an advisor.
        p #[a(href="https://www.facebook.com/wirebrand" class="text") Facebook Page]
      .project
        h4 Ombre Clothing
        small Former model
        p Ombre clothing asked to me shoot a new lookbook for their newest collection in an exchange for all their products. Interesting story behind is that I have designed my friend&apos;s photography portfolio for free and the he paid me off by shooting that lookbook with me.
        p Some of the photos on #[a(href="http://instagr.am/marekdlugos" class="text") my Instagram].

section.row
  .col-md-3
    h2 Sports
  .col-md-6
    .row
      .project
        h4 Ballroom dancing
        p I was really fortunate when the instructor from social dance classes came to me during the break and asked me if I want to level it up. Saying yes to a lot of opportunities I started to dance with my wonderful dance partner Karolina who alrady had had 10 year of experience. We were crushing competitions together for a year and half and I fell in love with this sport!
        p #[a(href="http://ksis.szts.sk/ksis/par.php?id=9117" class="text") List of attended competitions]
      .project
        h4 Basketball (tournament)
        p This sport was in my heart for really long time. Everyday on the court outside and inside playing for my school team. Best memories, best friends, best moments. Can not forget. I have decided to give something back to my community and organized Christmas Basketball Tournament.
        p #[a(href="https://www.facebook.com/pg/Viano%C4%8Dn%C3%BD-streetball-Star%C3%A1-%C4%BDubov%C5%88a-129773007083153/photos/?tab=album&album_id=623940997666349" class="text") Photos from tournament]
