section.row
  .col-md-3
    h2 Photos
  .col-md-9
    .row
      .col-md-6
        h4 Wunder Kids Pictures
        p I was loooking how to present my photography for a long time until I came up with idea to put together really young &amp; talented photographers together and founded this label where you can buy our prints and make walls of your home more beautiful.
        //- p #[a(href="#" class="text") Buy your print] &middot; #[a(href="#" class="text") Instagram Profile] &middot; #[a(href="#" class="text") Facebook Page]
      .col-md-6
        h4 Hair Tie Story
        p I have kissed a girl and had to leave her for 4 months after. She gave me her hair tie and I captured spectacular moments with that hair tie on my wrist during my journey in Hawaii, California &amp; Italy until I came back to her.
        //- p #[a(href="#" class="text") Read it here]

section.row
  .col-md-3
    h2 Videos
  .col-md-9
    .row
      .col-md-6
        h4
          a(href="https://youtu.be/ApSOemHdUcU?list=PLfAn5S6hUak9NqYmSIPIhspARcNvrllpq") Questions w/ Shopify Interns
        p I’ve filmed 5 episodes of interviews with Shopify Interns during summer 2016 ranging from designers to software engineers so everyone can find themselves in their stories, get inspired and motivated and apply for an internship in some cool companies such as Shopify!
        ul.small-text
          li #[a(href="https://youtu.be/ApSOemHdUcU") EP. 1 - Vivienne - Design Intern]
      .col-md-6
        h4
          a(href="https://www.youtube.com/watch?v=Fr4GdW3evy0") Ice Bucket Challenge
        p In the time when the Ice Bucket Challenge was popular I get inspired by man offering the water to random people in some poor country. I wanted to see how people will react in my country.
        p #[a(href="https://www.youtube.com/watch?v=Fr4GdW3evy0" class="text") Watch it here]
    .row.medium-margin
      .col-md-6
        h4
          a(href="https://www.youtube.com/watch?v=LiEUaspXfTU") SPSE High School Documentary
        p High school of Electrical Engineering is considered as a best high school in Slovakia for many years. As a CEO of student&apos;s company at time of my studies at this high school I was in charge to create video showing all aspects of studying there.
        p #[a(href="https://www.youtube.com/watch?v=LiEUaspXfTU" class="text") Watch it here]
      .col-md-6
        h4 Other small video projects
        ul.small-text
          li #[a(href="https://www.youtube.com/watch?v=prjoFkr5Tvg") Somewhere in Hawaii (4k timelapses)]
          li #[a(href="https://facebook.com/story.php?story_fbid=10206831601049070&id=1247629440") Flying drone in Gatineau Park]
          li #[a(href="https://www.youtube.com/watch?v=SRFHdmK91R8") Shopify HQ new floors opening]
          li #[a(href="https://www.youtube.com/watch?v=UAp72aqL8iY") 7,686 Miles from Slovakia to Hawaii (TEASER)]
          li #[a(href="https://www.youtube.com/watch?v=cQsaCXJeoDY") Host me in California (TEASER)]

section.row
  .col-md-3
    h2 Traveling
  .col-md-9
    p At the age of 20 I had an opportunity to go for #[journey around the world]. My parents led me to traveling since I was a child but I don't remember a lot from that time. Now I am glad that I can afford to travel spending only my own money.
    h5 Visited countries
    p 
      | Austria, 
      | Bulgaria,
      |  #[a(href="#") Canada (3 months)], 
      | Croatia, 
      | Czech Republic (2 years), 
      |  #[a(href="#") France], 
      | Germany, 
      | Hungary, 
      | Ireland, 
      | Italy, 
      | Nederland, 
      | Poland, 
      | Portugal, 
      | Slovakia (18 years), 
      |  #[a(href="#") South Korea], 
      | United Kingdom, 
      | USA (#[a(href="#") California], #[a(href="#") Hawaii - 3 months], NY).
    h5 Next on the radar
    p 
      | Cambodia, 
      | Laos, 
      | Philippines, 
      | Taiwan, 
      | Thailand,
      | Vietnam.

section.row
  .col-md-3
    h2 Fashion
  .col-md-9
    .row
      .col-md-6
        h4
          a(href="https://www.facebook.com/wirebrand") Wire Clothing
        small Founder / Advisor
        p During studies I founded merchandise for my former high school. School liked my design that much that they made clothes for every student &amp; teacher at school. Now, I asked younger peers to take care of it and I am more in the role of advisor.
        p #[a(href="https://www.facebook.com/wirebrand" class="text") Facebook Page]
      .col-md-6
        h4 Ombre Clothing
        small Former model
        p Ombre clothing asked to me shoot new lookbook of their newest collection in exchange for all their products. Interesting story behind is that I have designed my friend&apos;s photography portfolio for free and the he paid me off by shooting that lookbook with me.
        p Some of the photos on #[a(href="https://www.facebook.com/wirebrand" class="text") my Instagram].

section.row
  .col-md-3
    h2 Sports
  .col-md-9
    .row
      .col-md-6
        h4 Ballroom dancing
        p I was really fortunate when the instructor from social dance classes came to me during the break and asked me if I want to level it up. Saying yes to a lot of opportunities I started to dance with my wonderful dance partner Karolina who had already 10 year experience. We were crushing competitions together for year and half and I falled in love with this sport!
        p #[a(href="http://ksis.szts.sk/ksis/par.php?id=9117" class="text") List of attended competitions]
      .col-md-6
        h4 Basketball
        p This sport was in my heart for really long time. Everyday on the court outside and inside playing for my school team. Best memories, best friends, best moments. Can not forget.
    .row.medium-margin
      .col-md-6
        h4 Basketball tournament
        p This sport was in my heart for really long time. Everyday on the court outside and inside playing for my school team. Best memories, best friends, best moments. Can not forget.
