.row
  .col-md-7.col-md-offset-3.big-margin
    h1 Marek Dlugos — Digital Product Designer with background in Software Engineering.
    p.bigger-line-height
      | Sharing life stories &amp; travels on 
      a(href="https://www.facebook.com/marek.dlugos", class="text") Facebook
      | , tech stuff on 
      a(href="https://twitter.com/marekdlugos", class="text") Twitter
      | , photos of myself on 
      a(href="http://www.instagr.am/marekdlugos", class="text") Instagram
      | , videos on 
      a(href="https://www.youtube.com/user/marekdlugos/videos", class="text") YouTube 
      |  and writings on 
      a(href="https://medium.com/@MarekDlugos", class="text") Medium
      | . Full resume is available on 
      a(href="https://sk.linkedin.com/in/marekdlugos", class="text") LinkedIn
      | , design portfolio on 
      a(href="https://dribbble.com/MarekDlugos", class="text") Dribbble
      |  and code portfolio on 
      a(href="https://github.com/marekdlugos", class="text") Github
      | .
      
    p.medium-margin
      a(href="mailto:welcometo@mareks.space") — Drop me a line
      
    //- p
    //-   small I don't have enough time to build the greatest site in the world but you can find all interesting links that are related to me here.
