.row
  .col-md-7.col-md-offset-3.big-margin
    h1 Marek Dlugos — An Entrepreneurial Mind focusing on digital products.
    p.bigger-line-height
      | Sharing life stories &amp; travels on 
      a(href="#", class="text") Facebook
      | , tech stuff on 
      a(href="#", class="text") Twitter
      | , photos of myself on 
      a(href="#", class="text") Instagram
      |  and writings on 
      a(href="#", class="text") Medium
      | . Full resume is available on 
      a(href="#", class="text") LinkedIn
      | , design portfolio on 
      a(href="#", class="text") Dribbble
      |  and code portfolio on 
      a(href="#", class="text") Github
      | .
      
    p
      a(href="#") — Say Hello
      
