section.row
  .col-md-3
    h2 Books
  .col-md-9
    h4 Product
    ul.text-list
      li #[strong When Coffee &amp; Kale Compete] by Alan Klement
      li #[strong Intercom on Starting Up] by Intercom Company
    h4 Design
    ul.text-list
      li #[strong Sprint] by Jake Knapp w/ John Zeratsky &amp; Braden Kowitz
      li #[strong Nicely Said] by Nicole Fenton &amp; Kate Kiefer Lee
      li #[strong Lean UX] by Jeff Gothelf &amp; Josh Seiden
    h4 Coding
    ul.text-list
      li
    h4 Other
    ul.text-list
      li #[strong So good they cannot ignore you] by Cal Newport
  
section.row
  .col-md-3
    h2 Articles
  .col-md-9
    h4 Product
    ul.text-list
      li 
        a(href="https://blog.intercom.com/the-full-stack-design-system/") The full stack design system by Emmet Connoly 
    h4 Design
    ul.text-list
      li 
    h4 Coding
    ul.text-list
      li 

section.row
.col-md-3
  h2 Talks
.col-md-9
  h4 Product
  ul.text-list
    li 
  h4 Design
  ul.text-list
    li 
  h4 Coding
  ul.text-list
    li 
