img(src='marek-dlugos.jpg', alt='Marek Dlugos', width='200')
h1 Hey, dude!
p
  | Welcome to my one page personal site. I don't have enough time to build the greatest site in the world but you can find all interesting links that are related to me here.
h2 Social Networks and their purpose
ul
  li
    | U want to 
    a(href='https://www.facebook.com/marek.dlugos') follow me on Facebook
    |  if you are interested in my everyday life. I usually post there life insights.
  li
    | U want to 
    a(href='https://www.twitter.com/marekdlugos') follow me on Twitter
    |  if you are looking for tech side of me. So the things about startups, web development or graphics.
  li
    | In my spare time or during sitting on the toilet I sometimes post 
    a(href='http://www.instagr.am/marekdlugos') some photos of myself on Instagram
    | . Belive me there are a lot of them. Secretly wishing that one day I will become a model.
  li
    | Some of you may be also interested in my "professional life" from time to time I update also 
    a(href='https://sk.linkedin.com/in/marekdlugos') my LinkedIn profile
    | .
  li
    | In the past, I wasn't very much into blogging. I thought that no one would read it. Today I want to start 
    a(href='https://medium.com/@MarekDlugos') sharing my experience with world on Medium
    | .
  li
    | A lot of people call me a designer and I feel that's probably my strongest side so I'm also attaching 
    a(href='https://dribbble.com/MarekDlugos') my Dribbble portfolio
    | .
  li
    | I'm trying to be fullstack person because I dream about my own business. Want to have an overview of many areas therefore this is why I'm also coding and publishing it on 
    a(href='https://github.com/marekdlugos') my Github
    | .
  li
    | I love to make videos but it's supertime consuming so for a small sneak peak you can check out 
    a(href='https://www.youtube.com/user/marekdlugos/videos') my YouTube Channel
    | .
  li
    | Photography is my big hobby but unfortunately I don't have enough time for that. 
    a(href='https://500px.com/marekdlugos') You can find some of my "photography art" on 500px
    | .
  li
    strike I'm sending a lot of snaps on Snapchat and entertain my friends.
    |  I wanted to change my life and don't waste my time anymore so I'm better off quiet.
h2 Some of my projects
ul
  li
    a(href='http://marekdlugos.github.io/HostMeInCalifornia/') Host Me in California
    |  - A.K.A web site which I've done in my 16 was #1 at Y Combinator Hacker News.
  li
    a(href='http://marekdlugos.github.io/TakeMeAsIntern/') The Intern Site
    |  - Brought me the opportunity to spend 
    a(href='https://medium.com/@MarekDlugos/7-686-miles-from-slovakia-to-hawaii-how-i-got-an-internship-and-the-opportunity-of-a-lifetime-4ee63d7c53ac') the whole summer in Hawaii
    | .
  li
    a(href='http://www.rocketbuilt.tech/') Rocketbuilt
    |  - Trying to redefine and upgrade the web dev process.
  li
    a(href='http://www.featureslist.com/') Featureslist
    |  - Simply discover what your users wants. (coming soon)
h2 My other free time projects
ul
  li
    a(href='https://fleetlog.com.au/') Fleetlog
    |  - Been helping these guys in development of new fleet management system in Australia
  li
    | VIDEBY - automatic collection, next visualization and management of electric energy consumption
  li
    a(href='https://www.youtube.com/watch?v=Fr4GdW3evy0') IBCH
    |  - Creative IceBucket Challenge
  li
    a(href='http://www.spse-po.sk/newsite/') Wire Clothing
    |  - Merchandise for my high school
  li
    a(href='http://www.spse-po.sk/web/') High School of Electrical Engineering
    |  - I was responsible for web site redesign of the best tech high school in Slovakia
  li
    a(href='https://github.com/marekdlugos/UploadIt') UploadIt
    |  - An app to make uploading exam results easily
  li
    a(href='http://www.estavebnydennik.sk/') eStavebnyDennik
    |  Co-Founded and developed a streamlined bookkeeping system for builders
  li
    | I organized 
    a(href='https://dribbble.com/shots/2612085-Prague-Dribbble-Meetup') Dribbble Meetups
    |  in Prague
h2 Honours & Awards
ul
  li
    strong 2014
    |  - 1st at JuniorInternet (Mobile App category)
  li
    strong 2014
    |  - Special price at JuniorInternet
  li
    strong 2013
    |  - Intel Excellence in Computer Science
  li
    strong 2013
    |  - 2nd at ZENIT (Design & Programming web sites)
  li
    strong 2013
    |  - Special price at JuniorInternet
  li
    strong 2012
    |  - 1st at JuniorInternet (Design category)
h2 Education
p “I have never let my schooling interfere with my education.” Mark Twain
ul
  li
    strong 2011 - 2015
    |  Studied IT at best tech high school in Slovakia (according to rankings)
  li
    strong In 2015
    |  applied to Computer Science at University of Cambridge but failed the math interviews. Got an offer from University College London
  li
    strong 2015 - Present
    |  Study at Software Engineering at Czech Technical University - one of the best tech universities in Czechia
h2 You can contact me
ul
  li
    | Via e-mail. It would be the best. For example 
    a(href='mailto:marek@rocketbuilt.tech') marek@rocketbuilt.tech
    | .
