section.row
  .col-md-9.col-md-offset-3
    h3 — Driven by improving things around me

section.row
  .col-md-3
    h2 Projects
  .col-md-6
    .row
      .project
        h4
          a(href="http://marekdlugos.github.io/TakeMeAsIntern/") Take me as an Intern
        p During the 4 months gap between graduating high school and starting of university I wanted to be an intern so I made one-page site describing my skills and how can I contribute to the business. The site made it as #[strong #1 on YC Hacker News]. Had over 30k visitors in one night and get huge media attention all around the world. Brought me over #[strong 150 emails] and secured job in Hawaii and later on an internship in Canada.
        ul.small-text
          li #[a(href="http://marekdlugos.github.io/TakeMeAsIntern/") Visit Take me as an Intern]
          li #[a(href="https://medium.com/startup-study-group/7-686-miles-from-slovakia-to-hawaii-how-i-got-an-internship-and-the-opportunity-of-a-lifetime-4ee63d7c53ac") Read the whole story]
      .project
        h4
          a(href="http://marekdlugos.github.io/HostMeInCalifornia/") Host me in California
        p High-quality education abroad has been my aim for a long time, which is why I came up with hostmeinca.com when I was 16yo. In short time, this website became #[strong #1 on Y Combinator Hacker News]. I got #[strong 30k visitors in one night], media attention all around the world and was even invited to talk at #[strong TEDx]. Despite this success, I have not managed to secure sufficient funding to study &amp; host family in California.
        ul.small-text
          li #[a(href="http://hostmeinca.com/") Visit Host me in California]
          li #[a(href="https://medium.com/startup-study-group/7-686-miles-from-slovakia-to-hawaii-how-i-got-an-internship-and-the-opportunity-of-a-lifetime-4ee63d7c53ac#.9arxw2gcr") Read the whole story]
          li #[a(href="https://youtu.be/cTD7Li3rDtU") Watch interview in nationwide television] #[small (only in Slovak)]
      .project
        h4 Videby
        p Led team of 3 people and developed the project for the collection, visualization, and management of electric consumption for my former high school.
        p #[a(href="https://dribbble.com/shots/1424479-Visualisation-and-power-management" class="text") Design sneakpeak]

section.row
  .col-md-3
    h2 Design
  .col-md-6
    .row
      .project
        h4 School Mobile App
        p Designed a concept of mobile app for my former high school while I was studying there. App should allow students to check substitutions, timetable, school email, flash news, cafeteria options...
      .project
        h4 Dribbble Meetups
        p I have put together team of #[strong 10 people] and organised #[strong 2 dribbble meetups] attended by more than #[strong 300 people] altogether!
        p #[a(href="https://dribbble.com/stories/2016/05/26/april-dribbble-meetup-wrap-up#prague--avast-hq" class="text") Prague Meetup] &middot; #[a(href="https://dribbble.com/stories/2016/10/05/august-dribbble-meetup-wrap-up#ottawa-canada--shopify" class="text") Ottawa Meetup]
      .project
        h4
          a(href="http://www.spse-po.sk/web/") School Web Site
        p Took inicative and managed a redesign of #[strong 15-year-old] website for my former high school that is according to the rankings one of the best high schools in the country.
        p #[a(href="http://www.spse-po.sk/web/" class="text") SPSE web site] &middot; #[a(href="http://www.spse-po.sk/newsite/" class="text") Launching page]
    
section.row
  .col-md-3
    h2 Code
  .col-md-6
    .row
      .project
        h4
          a(href="https://github.com/marekdlugos/UploadIt") Upload.it
        p Came up with an idea to create an app using #[strong PHP] to make uploading and downloading exam results much easier and efective for students as well as teachers.
        p #[a(href="https://github.com/marekdlugos/UploadIt" class="text") Github repository]
      .project
        h4
          a(href="https://github.com/marekdlugos/dns-discover-service-spring") DNS Discover Service
        p As a part of an university team project I connected with company seeking solution for their DNS. I wrote an app to manage the DNS records in the database. Built #[strong REST API] that runs on #[strong Spring framework] as #[strong Java EE] application with #[strong Angular.js] frontend.
        p #[a(href="https://github.com/marekdlugos/dns-discover-service-spring" class="text") Github repository]
    
