section.row
  .col-md-3
    h2 Sitemap
  .col-md-9
    h3 Main Structure
    ul
      li
        a(href="http://www.mareks.space/") Marek Dlugos — Personal Website
      li
        a(href="http://www.mareks.space/doing") Doing
      li
        a(href="http://www.mareks.space/side-projects") Side Projects
      li
        a(href="http://www.mareks.space/education-awards") Education &amp; Awards
      li
        a(href="http://www.mareks.space/hobbies") Hobbies
      li
        a(href="http://www.mareks.space/sharing") Sharing
        
    h3 Non published pages yet
    ul
      li 
        a(href="http://www.mareks.space/failures") Failures
      li 
        a(href="http://www.mareks.space/reading-list") Reading List
      li 
        a(href="http://www.mareks.space/thanks-list") Thanks List
